{% extends 'navbarCliente.html' %}

{% block title %}
Inicio
{% endblock title %}

{% block content %}

<br>

<blockquote class="blockquote text-center">
	<h1><p class="text-white"style="background-color: #B19CD9;"> LaSos Pet </h1></p>

	<h1><p class="font-weight-light"style="background-color: #E0F7FA;">¿Quiénes Somos?</h1></p>
	<br>
	<br>
	<br>
	
	<p class="lead text-primary"><strong>
	Somos una clínica veterinaria y peluquería canina, que ofrece los mejores servicios de atención en salud y cuidado estético de los regalones de la casa: nuestras mascotas
	</strong></p>
	<br>
	
	<h5> <p class="text-primary"><em>
	Te invitamos a ser parte de nuestra comunidad que ama a los animales, al brindarle a tu mascota todo el cuidado que necesita, mediante una consulta previamente agendada con uno de nuestros médicos de excelencia.</em></p>
	</h5>
	</p>

</blockquote>

{% endblock content %}



