{% extends 'navbarCliente.html' %}

{% block title %}
Inicio
{% endblock title %}

{% block content %}

<br>
<ul>
<h1> LaSos Pet </h1>
<h2>¿Quiénes Somos?</h2>
<ul> 
<p>
<h2> Somos una clínica veterinaria y peluquería canina, que ofrece los mejores servicios de atención en salud y cuidado estético de los regalones de la casa: nuestras mascotas. </h2>
<p>
<h3> Te invitamos a ser parte de nuestra comunidad que ama a los animales, al darle todo el cuidado que necesita, asistiendo a una consulta para tu mascota con uno de nuestros médicos de excelencia.</ul>
</ul>


{% endblock content %}



